.das_main{
   background-image: url(https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
   background-repeat:no-repeat ;
   background-size:cover;
   padding-top: 3rem;

}



.blog_card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto; */

  margin: 5rem;
}
.loading{
    margin: 10px auto;
   
}

.card{
    margin: 3rem;
    width: 20rem;
    height:30rem;
    padding-top: 1rem;
    box-sizing: border-box;
}

.brand_logo{
    width: 10rem;
    height: 10rem;
}

.card_mui{
    width: 20rem;
    height:30rem; 
}

.brand_title{
    font-size: 2rem;
    color: black;
    font-weight: 500;
    margin-bottom: 1rem;
    text-transform: capitalize;
}



.main{
    background-image: url("https://picsum.photos/1600/900/"); 
    background-size:cover;
    background-repeat: no-repeat;
    /* width: 100;   */
    height:93vh;
}


.loginCard{
    background-color: aqua;
    display:inline-block;
    margin-top: 5rem;
    height: 40rem;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 8px 8px 2px rgb(29, 23, 23);
    border: 1px solid black;
    padding: 2rem;
}

.imgBack{
    border-radius: 100%;
    background-color: #1976D2;
    width: 18rem;
    height: 18rem;
}

.imgBlog{
    text-align: center;
    justify-content: center;
    align-items: baseline;
}

